<!DOCTYPE html>
<html>
  <head>
    <title>Pittsburgh Coffee Co.</title>
    <!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='/js/app.js'></script> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel='stylesheet' href='/static/styles.css'>
    <script src="https://kit.fontawesome.com/e6b4924d17.js" crossorigin="anonymous"></script>
  </head>

  <header>
    <div class='header-title'>
      <a href='/'>Pittsburgh Coffee Co.</a>
    </div>
    <li>
      <a href='/'>About</a>
    </li>
    <li>
      <a href='/'>Events</a>
    </li>
    <li>
      <a href='https://www.instagram.com/pghcoffeeco/'>
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href='https://www.facebook.com/pittsburghcoffeeco'>
        <i class="fa-brands fa-facebook-f"></i>
      </a>
    </li>
  </header>
  <body>
    <div id='landing'>
      <p>Hello Coffee!</p>
    </div>
  </body>
</html>
